@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.daftar {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../assets/images/pxfuel.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  background: rgba(109, 109, 109, 0.516);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: translate 0.18s ease;
  translate: 0;
}

.wrapper.active .form-box.login {
  transition: none;
  translate: -400px;
}

.wrapper.active .form-box.register {
  transition: translate 0.18s ease;
  translate: 0;
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  translate: 400px;
}

form h1 {
  font-size: 36px;
  text-align: center;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  background: #e6b800;
}

.input-box input,
.input-box select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(225, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 45px 0 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-box input::placeholder,
.input-box select option {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 40px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
}

.input-box .password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  translate: 0 -50%;
  cursor: pointer;
  color: #fff;
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: underline;
}

form button {
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

form .tombol {
  width: 100%;
}
form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

select::-ms-expand {
  display: none;
}

.input-box select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-size: 10px 10px;
}

.input-box select option {
  color: black; /* Warna teks opsi dalam dropdown */
  background: #e6b800; /* Warna latar belakang opsi dalam dropdown */
}

.input-box select {
  color: white; /* Warna teks untuk opsi yang dipilih */
}
