/* Sidebar */
.sidebar {
  width: 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .menu-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 8px;
    list-style: none;
    .menu {
      display: flex;
      align-items: center;
      color: #606060;
      width: 100%;
      gap: 10px;
      padding: 8px 15px;
      font-size: 15px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      &:hover {
        background-color: #003ab8;

        color: white;
      }

      p {
        margin: auto 0;
      }
    }
    .menu.active {
      background-color: #003ab8;
      color: white;
    }
    .menu:hover .icon path {
      fill: white;
    }
  }
}

/* Akhir Sidebar */

/* Content */
.dashboard {
  background-color: #dde0f7;
  width: 100%;
}

.shipment {
  background-color: #dde0f7;
  width: 100%;
}

.order {
  background-color: #dde0f7;
  width: 100%;
}

.customer {
  background-color: #dde0f7;
  width: 100%;
}
.transaction {
  background-color: #dde0f7;
  width: 100%;
}

main {
  background-color: #dde0f7;
  width: 100%;
}
/* Akhir Content */

/* Tabel */
.tabel {
  background-color: white;
}

#data .order {
  margin-left: -100px;
}
/* Akhir Tabel */
